<% obj.each do |handcraft| %>
    <div class="row">
        <div class="col-md-2"> 
        <section class="artisan_info center">
            <%= gravatar_for(handcraft.artisan, size: 120) %>
        </section>
        </div>
        <div class="col-nd-8 well"> 
            <h4> <%= link_to handcraft.name, handcraft_path(handcraft) %> </h4>
            <p> <%= truncate(handcraft.description, length: 150) %> </p>
            <p>
            <span class="quiet"><small>Criado a <%= time_ago_in_words(handcraft.created_at) %> atrás </small></span>
            </p>
            <% if logged_in? && (current_artisan == handcraft.artisan || current_artisan.admin?) %>
            <div class="handcraft-actions">
                <%= link_to "Edite este artesanato", edit_handcraft_path(handcraft), class: 'btn btn-xs btn-warning' %>
                <%= link_to "Delete este artesanato", handcraft_path(handcraft), method: :delete, data: { confirm: "Você tem certeza que quer deletar?" }, class: "btn btn-xs btn-danger" %>
            </div>
            <% end %>
        </div>
    </div>
<% end %>