<%= render 'shared/page_title', title: @handcraft.name %>

<div class="well col-md-8 col-md-offset-2">
    <h4 class="center description"><strong> Descrição: </strong></h4>
    <hr />
    <%=simple_format(@handcraft.description) %>
    <hr />
    <div class="pull-right">
        <p class="center">
            <em>Criado por:</em>
        </p>
        <p class="center">
            <%= link_to gravatar_for(@handcraft.artisan), handcraft_path %>
        </p>
        <p class="center">
            <small> <%= @handcraft.artisan.name.capitalize %></small>
            <div class="pull-right">
                <%= time_ago_in_words(@handcraft.created_at)%> atrás
            </div>
        </p>
    </div>
        <div class="handcraft-actions">
            <% if logged_in? && current_artisan == @handcraft.artisan %>
                <%= link_to "Edite este artesanato", edit_handcraft_path(@handcraft), class: 'btn btn-xs btn-warning' %>
                <%= link_to "Delete este artesanato", handcraft_path(@handcraft), method: :delete, data: { confirm: "Você tem certeza que quer deletar?" }, class: "btn btn-xs btn-danger" %>
            <% end %>
            <%= link_to "Retorne para a listagem de artesanatos", handcrafts_path, class: 'btn btn-xs btn-primary' %>
        </div>     
</div>