<%= render 'shared/page_title', title: @handcraft.name %>

<div class="well col-md-8 col-md-offset-2">
    <h4 class="center description"><strong> Description: </strong></h4>
    <hr />
    <%=simple_format(@handcraft.description) %>
    <hr />
    <div class="pull-right">
        <p class="center">
            <em>Created by:</em>
        </p>
        <p class="center">
            <%= link_to gravatar_for(@handcraft.artisan), handcraft_path %>
        </p>
        <p class="center">
            <small> <%= @handcraft.artisan.name.capitalize %></small>
            <div class="pull-right">
                <%= time_ago_in_words(@handcraft.created_at)%> ago
            </div>
        </p>
    </div>
        <div class="handcraft-actions">
            <%= link_to "Edit this handcraft", edit_handcraft_path(@handcraft), class: 'btn btn-xs btn-warning' %>
            <%= link_to "Delete this handcraft", handcraft_path(@handcraft), method: :delete, data: { confirm: "Are you sure you want to delete?" }, class: "btn btn-xs btn-danger" %>
            <%= link_to "Return to handcrafts listing", handcrafts_path, class: 'btn btn-xs btn-primary' %>
        </div>     
</div>