<%= render 'shared/page_title', title: "Listagem de Todos os Artesãos" %>

<div align="center">
    <%= will_paginate %>
    <% @artisans.each do |artisan| %>
    <ul class="listing">
    <div class="row">
        <div class="well col-md-4 col-md-offset-4">
        <li><%= link_to gravatar_for(artisan), artisan_path(artisan) %></li>
        <li class="artisan-title"><%= link_to artisan.name.capitalize, artisan_path(artisan) %></li>
            <li><small><%= pluralize(artisan.handcrafts.count, "artesanato") if artisan.handcrafts %></small></li>
            <% if logged_in? && current_artisan.admin? && !artisan.admin? %>
                <li><%= link_to "Delete este artesão", artisan_path(artisan), method: :delete, data: {confirm: "Você tem certeza que deseja deletar este artesão e todos os artesanatos associados a ele?"} %></li>
            <% end %>
        </div>
    </div>
    </ul>      
    <% end %>
    <%= will_paginate %>
</div>